@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./Components/Fonts/Poppins-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src:url('./Components/Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src:url('./Components/Fonts/Poppins-Light.ttf') format('truetype');
}  

body{
    @apply font-pop;
}


*{
    scrollbar-width:thin;
    
}

@keyframes bounce-scale {
    0%, 100% {
      transform: translateY(0) scale(1);
    }
    25% {
      transform: translateY(-10px) scale(1.05);
    }
    50% {
      transform: translateY(0) scale(1);
    }
    75% {
      transform: translateY(10px) scale(0.95);
    }
  }
  
  .unique-animation {
    animation: bounce-scale 2.5s infinite ease-in-out;
  }


  
  